$primary: #3f51b5;
$secondary: #1a237e;
$accent: #ffc107;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: rgb(76, 175, 79);
$negative: #e74c3c;
$info: #31ccec;
$warning: #f2c037;

$bg-light: #f8f9fd;
$bg-card: white;
$text-dark: #2c3e50;
$text-light: #7f8c8d;
$card-opacity: rgba(255, 255, 255, 0.85);
$positive2: rgb(76, 175, 79);
$bg-positive: #c8e6c9;
$bg-negative: #e9cfcc;
